
<html>
<head>
<title>HeyGo! Times 隱私權保護政策</title>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">

<link rel="stylesheet" type="text/css" href="/stylesheets/term1.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/term2.css" />


<!--link rel=stylesheet type="text/css" href="http://l.yimg.com/f/i/tw/hp/b51.css"-->
<style type="text/css">
<!--
.mbody { font-family:"新細明體", "mingliu", "taipei";font-size: 16px; line-height: 20pt}
.sbody { font-family:"新細明體", "mingliu", "taipei";font-size: 13px; line-height: 150%;}
.ssbody { font-family:"新細明體", "mingliu", "taipei";font-size: 9pt}
.sstext { font-family:"新細明體", "mingliu", "taipei";font-size: 9pt; line-height: 12pt}
.mtext { font-family:"新細明體", "mingliu", "taipei";FONT-SIZE: 16px;}
.stext { font-family:"新細明體", "mingliu", "taipei";FONT-SIZE: 13px;}
.estext { font-family:"arial","新細明體", "mingliu", "taipei";FONT-SIZE: 13px;}
.c1 { font-family:"新細明體", "mingliu", "taipei"; font-size: 12pt}
.c2 { font-family:"新細明體", "mingliu", "taipei"; font-size: 13px; line-height: 200%;}
.c3 { font-family:"新細明體", "mingliu", "taipei"; font-size: 10pt; line-height: 20pt}
.maf { font-family:"新細明體", "mingliu", "taipei"; font-size: 12px; line-height: 150%; }
.t { font-family:"新細明體", "mingliu", "taipei"; font-size: 12pt; color:#ffffff}
.aa { Background-color:#78B4EF}
.bb { Background-color:#5E7BA8}
.cc { Background-color:#93E4FF}
A:hover { COLOR: red}
.style1 {
 color: #8BB3C2;
 font-weight: bold;
}
#link
 {font-size:16px;
 }
-->
</style>
</head>
<body bgcolor="#FFFFFF" text="#000000">
<style type="text/css">
.sbody{font-size:13px arial,helvetica,clean,sans-serif; line-height:150%;}
.sbody a{font-size:13px arial,helvetica,clean,sans-serif; color:003399;text-decoration:none;}
.sbody a:hover{font-size:13px arial,helvetica,clean,sans-serif; text-decoration:underline;}
.style1 {
 color: #8BB3C2;
 font-weight: bold;
}
#link
 {font-size:13px;
 }
</style>
<style type="text/css">
<!--
a:link, a:visited{text-decoration:none}
a:hover{color:#0353a5;text-decoration:underline}
a:link{color:#013299}
a:visited{color:#800080}
html>body spacer{display:block}
-->
</style>
<center>
<table width="750" border="0" align="center" cellpadding="0" cellspacing="0" class="top">
 <tr>
 <td height="20" valign="bottom" align="center">
<table width="750" border="0" cellspacing="0" cellpadding="0">
<tr><td valign="top"><div id="yhtw_masthead">


  <div id="logo">
     <%= link_to( image_tag("/images/HeyGoTimes_logo.png"), {:controller =>'paper'}, {:title => 'to home page'} ) %>
  </div>


 <div class="mhuser"><div>

 </div></div>

 </form>
 </div>

</div></td>
 </tr>
</table>
</center>
 <tr>
 <td valign="bottom" style="height: 8pt"> 　<tr>
 <td height="20" valign="bottom"> <div class="ms">
 <table border="0" width="100%" cellspacing="0" cellpadding="5" style="border-collapse: collapse" bordercolor="#111111">
 <tr>
 <td width="100%" bgcolor="#F5EEFF"><font size="+1" face="arial"><b>HeyGo! Times(黑狗日報) 隱私權保護政策</b></font></td>
 </tr>
</table>
<table border="0" width="100%" cellspacing="3" cellpadding="10" style="border-collapse: collapse" bordercolor="#111111">
 <tr>
 <td width="100%" class="mbody">


 <br><br>
 <strong>1. HeyGo! Times(黑狗日報)使用您個人資料的方式 - 前言</strong> <br>
 <br>
   本政策涵蓋的內容包括：HeyGo! Times(黑狗日報)如何處理蒐集或收到的個人資料
   。個人資料是指得以識別您的身分且未公開的資料，如姓名、地址、電子郵件地址或電話號碼
   <br><br>
    本隱私權保護政策只適用於HeyGo! Times(黑狗日報)：本政策不適用於非HeyGo! Times(黑狗日報)所有或控制的公司，
   也不適用於非 HeyGo! Times(黑狗日報)僱用或管理之人。
 <br>
 <br>


 <p><br>
 <strong>2.資料蒐集及使用  </strong><br>
 <br>

   在您註冊 HeyGo! Times(黑狗日報)、使用 HeyGo! Times(黑狗日報)產品或服務、瀏覽 HeyGo! Times(黑狗日報)網頁時，
   HeyGo! Times(黑狗日報)會蒐集您的個人資料（如您閱讀了哪些新聞...等）。

<br><br>當您使用 HeyGo! Times(黑狗日報) 時，我們不會詢問您的姓名、電子郵件地址、出生日期、性別、郵遞區號、職位、行業及個人興趣等資料；
   但在您同意的前提下，我們會自facebook取得您的個人資訊，在您登入我們的服務後，我們就能辨別您的身分。

   。

<br><br> HeyGo! Times(黑狗日報) 不會蒐集您與我們或我們的商業夥伴交易的資料。

 <br><br>HeyGo! Times(黑狗日報) 也自動接收並記錄您電腦和瀏覽器上的資料，
   包括 IP位址、 HeyGo! Times(黑狗日報) cookie中的資料、軟體和硬體屬性以及您瀏覽的網頁紀錄。

 <br><br>HeyGo! Times(黑狗日報) 一般將資料用作以下用途：客製化廣告及您看到的網頁內容、滿足您對產品和服務的要求、改進我們的服務、聯絡您、
   進行研究，以及提供內部及外部客戶匿名報告。
 <br>
 </p>



   <p><br>
   <strong>3. 資料分享與揭露 </strong><br>
   <br>

     除非是為了向您提供您所要求的產品或服務、獲得您的授權，或有以下情形，
     否則 HeyGo! Times(黑狗日報) 不會向任何其他人士或非關係企業出借或出售您的個人資料，或與之分享：

     <br><br>我們向已簽署保密協議書之代表 HeyGo! Times(黑狗日報) 執行業務或與我們共事的值得信賴的合作夥伴提供這些資料。這
     些公司可能會將您的個人資料用於協助 HeyGo! Times(黑狗日報) 就我們和行銷夥伴所提供產品及服務的事宜，
     與您進行溝通。但這些公司無獨立權利分享這些資料。

     <br><br>我們對傳票、法院命令或法律程序作出回應、取得或行使法律權利，或對訴訟上之請求提出防禦。

     <br><br>我們認為為了調查和防止非法活動、涉嫌詐欺、對人身安全有潛在威脅的狀況、
     對 HeyGo! Times(黑狗日報) 服務條款的違反，或為了對上述情形採取應對措施，或法律另有規定，而有必要分享您的個人資料時。

     <br><br>如果 HeyGo! Times(黑狗日報) 被其他公司收購或合併，
     我們會將您的個人資料移轉給該公司。如果發生這種情況， HeyGo! Times(黑狗日報) 會在您的個人資料被移轉且將適用不同的隱私權政策前通知您。

     <br> HeyGo! Times(黑狗日報) 會根據您的個人資料向您展示精準式行銷廣告。廣告主 (包括廣告遞送公司)
     可能假定那些瀏覽、點閱精準式行銷廣告或與廣告互動的人士符合精準式行銷標準。

     <br><br>在您瀏覽精準式行銷廣告或與廣告發生互動時， HeyGo! Times(黑狗日報) 不會向廣告主提供您的任何個人資料。
     然而，一旦瀏覽廣告或與廣告發生互動，即表示您同意廣告主可能會假定您符合展示型廣告所使用的精準式行銷標準。

     <br><br> HeyGo! Times(黑狗日報) 廣告主包括金融服務提供者 (如銀行、保險代理人、證券經紀人及抵押貸款機構)
     和非金融公司 (如商店、航空公司及軟體公司)。

     <br> HeyGo! Times(黑狗日報) 與各行各業的供應商、合作夥伴、廣告主及其他服務提供者共事。
     欲瞭解所需產品或服務提供者的更多相關資料，請參閱詳盡的參照連結。


   <br>
   </p>




   <p><br>
   <strong>4. Cookie </strong><br>
   <br>

      HeyGo! Times(黑狗日報) 會在您的電腦上設定並存取 Yahoo!奇摩 cookie 。

<br><br> HeyGo! Times(黑狗日報) 允許在某些 HeyGo! Times(黑狗日報) 網頁上刊登廣告的其他公司在您的電腦上設定並存取 cookie。
     其他公司將根據其自訂的隱私權政策使用其cookie，並非依據本政策。廣告主或其他公司不能存取 HeyGo! Times(黑狗日報) 的 cookie。


   <br>
   </p>



   <p><br>
   <strong>5. 您修改及刪除個人帳號資料及偏好設定的能力 </strong><br>
   <br>

      HeyGo! Times(黑狗日報) 只會自facebook取得您的帳號資料，故不提供任何修改及刪除個人帳號資料及偏好設定的功能

   <br>
   </p>



 <p><br>
 <strong>6. 機密性和安全性 </strong><br>
 <br>

   我們會將有權存取您個人資料之員工限於我們合理相信是為了向您提供產品或服務或為了完成工作而需要取得這些資料的員工。

   我們已採取符合法規要求的實體、電子和程序防護措施，以保護您個人資料的安全。


 <br>
 </p>



   <p><br>
   <strong>7. 隱私權保護政策修訂 </strong><br>
   <br>

 HeyGo! Times(黑狗日報) 可不時修訂本政策。當我們在個人資料的處理上有重大變更時，
     會將通知傳送到您在facebook的電子郵件地址，或在我們的網站上張貼告示。
   <br>
   </p>


   <p><br>
   <strong>8. 問題和建議 </strong><br>
   <br>

如果您有任何問題或建議，請填寫意見反應表，或透過客服信箱與我們聯繫。

<br><br>生效日期：2011年7月7日

   <br>
   </p>



 </td>
 </tr>
 <tr>
 <td width="100%"></td>
 </tr>
</table>
 <p><p><p><p>

   </html>
<!-- w201.info.platform.tw1.yahoo.com compressed/chunked Fri Jul  8 11:36:51 CST 2011 -->