
<!--div id='fun-btn'>
  <a href='#' name='btn1' class='osx btn1'><img src="/images/icon_camera.png" alt="report a news"></a>
  <a href='#' name='btn2' class='osx btn2'><img src="/images/icon_editor.png" alt="set filter"></a>
</div-->

<div id="osx-modal-content">
  <div id="osx-modal-title"><div id="filter_dlg_t0"><%= t(:report_a_news) %></div></div>
  <div class="close"><a href="#" class="simplemodal-close">x</a></div>
  <div id="osx-modal-data">
    <% if session[:logged_in] == false %>
      <h3>Please log in!</h3>
    <% else %>
    <%= show_report_form() %>
    <% end %>
  </div>

</div>

<!-- Show "News Filter" Dialog -->
<div id="osx-modal-content1">
  <div id="osx-modal-title1"><div id="filter_dlg_t1"><%= t(:news_filter_head) %></div></div>
  <div class="close"><a href="#" class="simplemodal-close">x</a></div>
  <div id="osx-modal-data1">

  <%= render :partial => 'paper/show_news_filter' %>

  </div>
</div>
