<html>
<head>
  <!-- Page styles -->
  <link type='text/css' href='/stylesheets/popup.css' rel='stylesheet' media='screen' />

  <!-- OSX Style CSS files -->
  <link type='text/css' href='/stylesheets/osx.css' rel='stylesheet' media='screen' />
</head>

<body>


<div id='fun-btn'>
  <a href='#' name='btn1' class='osx btn1'><img src="/images/icon_camera.png" alt="report a news"></a>
  <a href='#' name='btn2' class='osx btn2'><img src="/images/icon_editor.png" alt="set filter"></a>
</div>


<div id="osx-modal-content">
  <div id="osx-modal-title">OSX Style Modal Dialog</div>
  <div class="close"><a href="#" class="simplemodal-close">x</a></div>
  <div id="osx-modal-data">
    <% if session[:logged_in] == false %>
      <h3>Please log in!</h3>
    <% else %>
    <%= show_report_form() %>
    <% end %>
    <p><button class="simplemodal-close">Close</button> <span>(or press ESC or click the overlay)</span></p>
  </div>

</div>

<!-- Show "News Filter" Dialog -->
<div id="osx-modal-content1">
  <div id="osx-modal-title1"><h3><%= t(:news_filter_head) %></h3></script></div>
  <div class="close"><a href="#" class="simplemodal-close">x</a></div>
  <div id="osx-modal-data1">

  <%= render :partial => 'paper/show_news_filter' %>

  </div>
</div>

<!-- Load JavaScript files -->
<script type='text/javascript' src='/javascripts/jquery.js'></script>
<script type='text/javascript' src='/javascripts/jquery.simplemodal.js'></script>
<script type='text/javascript' src='/javascripts/osx.js'></script>

</body>
</html>


