
<!-- 這4個icon必須直排 -->
<div>
<%=     link_to( image_tag("icon_camera.png",:size => "54x54"), {:controller => 'news', :action => 'report'}, \
    {:title => 'report a News!'} )  %>
</div>

<div>
<%=     link_to( image_tag("icon_editor.png",:size => "54x54"), {:controller => 'news'}, \
    {:title => 'Set Filter'} )  %>
</div>



