<!DOCTYPE html>
<html>

<div id="header">
	
  <div id="logo" >	
    <!-- "to_main_page" is defined in application_controller.rb -->
    <%=     link_to( image_tag("/images/HeyGo_logo.png"), {:action =>'to_main_page'}, \
        {:title => 'to home page'} )  %>
  </div>

  <div id="search_bar" align="right">
    <!--- # show_search_bar is implemented in search_helper.rb  
	  show_search_bar@search_helper.rb ==> render _search_bar.html.erb ==> submit ==> search/do_search
    --->
    <%= show_search_bar :paper  %>
  </div>
  
</div>





<br><br><br><br><br><br><br><br>

<h1>(5). Paper#index</h1>
<p>Find me in app/views/paper/index.html.erb</p>

<br><br>
<h1>每日發行的報紙頁面</h1>
<p>此頁面包含： login/報紙頭條/分類廣告橫欄...</p>


<br><br>
<h1>連結：</h1>
<%= link_to (t :HeyGoTimes)+" "+(t :main_page), {:action => 'to_main_page'} , {:title => 'to home page'}  %>


</html>
