<!DOCTYPE HTML>
<html>
	<head>
		<title>HG Times - show_paper_title</title>
	</head>
	<body background='/images/101.jpeg' text="#ff66cc">

		  <h1><%= @newspaper_title %></h1>
		  <h2><%= @newspaper_slogan%></h2>
		  <p><%= @weather.to_s%><br><%=@date%></p>

	</body>
</html>
