#filter_dlg_t0 {color:#3a6d8c; font-size:20px; line-height:20px; font-weight:normal; margin:0 0 8px 0;}
#filter_dlg_t1 {color:#3a6d8c; font-size:20px; line-height:20px; font-weight:normal; margin:0 0 8px 0;}

#filter_dlg_t2 {float: left;color:#3a6d8c; font-size:16px; line-height:18px; font-weight:normal; margin:0 0 8px 0;}
#area_select_box { float: left; display: inline;}
#area_select_box2 { float: left; display: inline;}

#filter_dlg_t3 {color:#3a6d8c; font-size:16px; line-height:18px; font-weight:normal; margin:0 0 8px 0;}
#filter_dlg_t4 {color:#3a6d8c; font-size:16px; line-height:18px; font-weight:normal; margin:0 0 8px 0;}
#filter_dlg_t5 {color:#3a6d8c; font-size:16px; line-height:18px; font-weight:normal; margin:0 0 8px 0;}

#tag_grp1 {float: left;color:#3a6d8c; }
#tag_grp2 {float: left;color:#000000; }



#filter_btn_grp1 { float: left; display: inline;font-size:12px; line-height:12px; }
#filter_btn_grp2 { float: right; display: inline;font-size:12px; line-height:12px; }
/* Link List (on front of the page)*/
#link_list {
	
	float: right;
}


/* Setup_field */

#setup_field {
	clear: both;
	width: 500px;
	/*height: 50px;*/
    float: left ;
    font: 16px Arial, Helvetica, sans-serif;
	margin: 0px auto 30px auto;
	background: #dddddd no-repeat left top;
	color: #c23939;
}

#setup_field p {
	margin: 0px;
	padding: 19px 0px 0px 0px;
	text-align: left;
	line-height: normal;
	font-size: smaller;
}

#setup_field a {
	color: #FFFFFF;
}



/* Footer */

#footer {
	clear: both;
	width: 740px;
	height: 30px;
	margin: 0px auto 30px auto;
	background: #c23939 left top;
	color: #FFFFFF;
}

#footer p {
	margin: 0px;
	padding: 19px 0px 0px 0px;
	text-align: left;
	line-height: normal;
	font-size: smaller;
}

#footer a {
	color: #FFFFFF;
}
