img {
  max-height:120px;
  width:auto;
  height:expression(this.height > 120 ? "120px" : this.height);
}

#time_river {
  width: 900px;
  height: 1000px;
  margin: 50px auto;
  padding: 20px;
  overflow: auto;
  /*cursor: -moz-grab !important;*/ /* should this be applied with JS? */
  border: 2px solid #D9E4FF;
  /*outline: 2px solid gold;*/
}

.tr-events {
    width: 11800px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.tr-events li {
    float: left;
    width: 300px;
    margin-right: 10px;
}

.tr-events ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tr-events ul li a {
    text-decoration: none;
    color: #000;
    background: #D9E4FF;
    border: 1px solid #D9E4FF;
    -moz-border-radius: 4px;
    display: block;
    margin: 5px 2px;
    padding: 2px;
}

.tr-events ul li a:hover,
.tr-events ul li a:focus {
    outline: 0;
    background: #C2CCE4;
    border: 1px solid #B0BACF;
}

/* hScrollBtns-btn */
.hScrollBtns-btn {
  position:absolute; cursor:pointer; display:none; width:60px; height:110px; margin:0 4px; background-color:#806;
  opacity:.7; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;
}
.hScrollBtns-btn:hover {opacity:1.0; -moz-box-shadow:rgba(0,0,0,.4) 2px 2px 3px; -webkit-box-shadow:rgba(0,0,0,.4) 2px 2px 3px;}
.hScrollBtns-btn.btn-w {background:rgba(100,0,60,.86) url(/images/river/prev.gif) no-repeat 50% 50%;}
.hScrollBtns-btn.btn-e {background:rgba(100,0,60,.86) url(/images/river/next.gif) no-repeat 50% 50%;}
.hScrollBtns-btn.btn-active {}