
body {
	margin: 0px;
	padding: 0px;
	background: #fcf5f5, transparent;
	font: 13px Arial, Verdana, PMingLiu, Helvetica, sans-serif;
	color: #3b5998;
}

h1, h2, h3 {
	margin-top: 0px;
}

h1 {
	font-size: 2.4em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.4em;
}

p, ol, ul {
	margin-bottom: 1.8em;
	line-height: 160%;
}

a {
  text-decoration: none;
	color: #3b5998;
}

a:hover {
  text-decoration: underline;
	color: #6d84b4;
}

a img {
	border: none;
  padding: 0px;
}

/* Page */
#page {
	width: 900px;
	margin: 0px auto;
	padding: 0px 0px;
  background: #fff;
	margin-top: 20px;
}


/* Header */
#header {
	width: 900px;
	height: 100px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  background-color: #6d84b4;
}

#news_gage {
  width: 100%;
	margin: 0px auto;
	padding: 0px 0px;
  background: #fff;
	margin-top: 20px;
}

#news_header {
	width: 100%;
	height: 100px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  background-color: #6d84b4;
}

#header a {
	text-decoration: none;
	color: #FFFFFF;
}

#header #filter_hint {
  position:relative;
  top: 20px;
  font-size: 14px;
}

/* Logo */
#logo {
	float: left;
  height: 85px;
}

/* Page head */
#page_head {
  float: right;
  height: 85px;
  width: 150px;
}

#page_head2 {
  margin:10px;
  float: right;
}

/* Menu */
#menu {
	float: left;
}

/* Content */
#content {
	float: left;
	width: 85%;
}

#paperContent {
  padding-bottom: 30px;
}

/* Sub area */
#sub{
  float: right;
  margin-top: 10px;
  width: 15%;
}

#sub #ad {
  padding-left: 20px;
}

/* News content*/
.news {
  padding: 10px;
  margin-bottom: 20px;
}

.news .news_title {
  width: 100%;
  font-size: 200%;
}

.news .info {
  font-style: italic;
  width: 100%;
}

.news .info a {
  text-decoration: underline;
  color: black;
}

.news .image {
  float: left;
  width: 20%;
}

.news .news_content {
  /* text-indent: 30pt;  */
  font-size: 150%;
  padding-top: 10px;
  padding-right: 40px;
  float: right;
  width: 70%;
}

.comments {
  margin-left: 40px;
  width: 90%;
  color: #3b5998;
  background: #f2f2f2;

  /*border-width:medium;
  border-style:dashed;*/
}
.comments .comment_title {
  margin-bottom: 10px;
  font-size: 1.8em;
  width: 40%;
  float: left;
}
.comments .comment_title a {
  color: #6d84b4;
  text-decoration: none;
}
.comments .fb_comment {
  margin-left: 10px;
}

.comments .button_group {
  width: 60%;
  float: right;
}

.comments .count_span {
  float: right;
  position: relative;
  top: 8px;
  padding-right: 10px;
}

.comments .button_group .like_count, .unlike_count, .share_count
{
  font-size: 1.4em;
}

#more_news{
  clear: both;
  margin: auto;
  text-align:center;
  height: 30px;
  width:70%;
  background: #edeff4;
  border-width :1px;
  border-color: #bdc7d8;
  border-style:dashed;
  cursor:pointer;
}

#more_news a{
  height: 30px;
  font-size: 20px;
}

#more_news:hover {
  display: block;
  background: #bdc7d8;
	color: #fff;
}

/* =Menu
-------------------------------------------------------------- */

#access {
	background: #3b5998;
	display: block;
	float: left;
	margin: 0 auto;
	width: 100%;
}
#access .menu-header,
div.menu {
	font-size: 15px;
	margin-left: 12px;
	width: 100%;
}
#access .menu-header ul,
div.menu ul {
	list-style: none;
	margin: 0;
}
#access .menu-header li,
div.menu li {
	float: left;
	position: relative;
  list-style: none;
}
#access a {
	color: gray;
	display: block;
	line-height: 38px;
	padding: 0 10px;
	text-decoration: none;
}

#access #menu-type-btn {
  width: 75%;
  float: left;
}

#access #menu-fun-btn {
  width: 25%;
  float: right;
}

#access .fun-btn a {
  color: black;
}

#access ul ul li {
	min-width: 150px;
}
#access ul ul ul {
	left: 100%;
	top: 0;
}

#access li:hover > a,
#access ul ul :hover > a {
	background: #6d84b4;
	color: #fff;
}
#access ul li:hover > ul {
	display: block;
}
#access ul li.current-menu-item > a {
  text-decoration: underline;
	color: #fff;

}

