<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

<script>
 function redirect() {  window.location.replace("/mobile/index_prepare_data"); }
 setTimeout("redirect();", 0);
</script>


<body bgcolor="#bdc7d8">
<div align='center'>
<br>
<h3>It needs a moment for loading at first time,please wait.</h3>
<br>
<h2>第一次載入需要較長的時間，請稍待。</h2>
</div>
</body>

