
<script>
 function redirect() {  window.location.replace("/mobile/index_prepare_data"); }
 setTimeout("redirect();", 2);
</script>


<h1>Loading... please wait!</h1>
<img src='/images/fb_loading_large.gif'/>
