<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

<script>
 function redirect() {  window.location.replace("/mobile/index_prepare_data"); }
 setTimeout("redirect();", 2);
</script>


<h1>Loading... please wait!</h1>


