<H2>Title:</H2>
<input type="text" placeholder="Please input news title here:" style="width:90%;font-size:14px;">
<br><hr>

<H2>Detail:</H2>
<textarea id="news content" style= "overflow:auto;width:90%;height:120px;font-size:14px; "> </textarea>

<!--
<input type="text" size="256" style="width:90%;height:100px;font-size:14px;">
-->