<head>
   <title>Page Title</title>
   <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
   <link rel="icon" type="image/png" href="/images/HeyGoTimes_logo.png">
   <link rel="apple-touch-icon" href="/images/HeyGoTimes_logo.png" />
   <meta name="apple-mobile-web-app-capable" content="yes" />

   <link type='text/css' href='/stylesheets/mobile/iui.css' rel='stylesheet'  />
   <link type='text/css' href='/stylesheets/mobile/default-theme.css' rel='stylesheet'  />

   <script type="application/x-javascript" src="/javascripts/mobile/iui.js"></script>
</head>

   <div class="toolbar">
      <h1 id="pageTitle"></h1>
      <a id="backButton" class="button" href="#"></a>
   </div>
   <ul id="screen1" title="Screen 1" selected="true">
      <li><a href="#screen2">Go to Screen #2</a></li>
   </ul>


   <ul id="screen2" title="Screen 2" >
     <li><a href="#screen3">Go to Screen #3</a></li>
   </ul>

   <div id="screen3" title="Screen 3" class="panel">
      Hello World
   </div>