<BR>
<div style="padding-left:20px">

<h2><a href="index?ch=intro100">[ Web無料版 發佈序言 ]</a></h2>
<h2><a href="index?ch=intro">[ 序＆章節簡介 ]</a></h2>
<h2><a href="index?ch=fpage">[ 封面文字 ]</a></h2>
<br>
<h2 style="color:blue;">00. 系統．嵌入．硬體</h2>
    <h3><a href="index?ch=CH00_01">00.01. Welcome on board!</a></h3>
    <h3><a href="index?ch=CH00_02">00.02. 嵌入式系統開發團隊</a></h3>
    <h3><a href="index?ch=CH00_03">00.03. 老調重彈-什麼是嵌入式系統?</a></h3>
    <h3><a href="index?ch=CH00_04">00.04. 限制、限制、限制</a></h3>
    <h3><a href="index?ch=CH00_05">00.05. 基本職能–老鳥也曾是菜鳥</a></h3>
    <h3><a href="index?ch=CH00_06">00.06. 讀書計畫</a></h3>
    <h3><a href="index?ch=CH00_07">00.07. 工作內容-做工程師，而非程式工人</a></h3>
<br>
<h2 style="color:blue;">01.  嵌入式系統開發專案的生命週期(上) – 專案啟動與規劃階段</h2>
    <h3><a href="index?ch=CH01_01">01.01. 嵌入式系統專案 – 簡介</a></h3>
    <h3><a href="index?ch=CH01_02">01.02. 初期規劃-該不該接這個案子？</a></h3>
    <h3><a href="index?ch=CH01_03">01.03. 時程規劃—ASAP？</a></h3>
    <h3><a href="index?ch=CH01_04">01.04. 規格-請接受這個不完美的世界</a></h3>
    <h3><a href="index?ch=CH01_05">01.05. 人力規劃 - 營級組織，連級人力</a></h3>
    <h3><a href="index?ch=CH01_06">01.06. 一切都為了Cost Down</a></h3>


<br>
<h2 style="color:blue;">02. 嵌入式系統開發專案的生命週期(下) – 設計、執行與結案 </h2>
    <h3><a href="index?ch=CH02_01">02.01. 設計階段-擬定作戰計畫</a></h3>
    <h3><a href="index?ch=CH02_02">02.02. 產品規格設計</a></h3>
    <h3><a href="index?ch=CH02_03">02.03. 硬體設計</a></h3>
    <h3><a href="index?ch=CH02_04">02.04. 系統設計</a></h3>
    <h3><a href="index?ch=CH02_05">02.05. 測試計畫設計</a></h3>
    <h3><a href="index?ch=CH02_06">02.06. 測試計畫設計</a></h3>
    <h3><a href="index?ch=CH02_07">02.07. 風險評估</a></h3>
    <h3><a href="index?ch=CH02_08">02.08. 設計文件的重要性</a></h3>
    <h3><a href="index?ch=CH02_09">02.09. 實作階段-執行所有設計</a></h3>
    <h3><a href="index?ch=CH02_10">02.10. 衝突不斷-協同作戰有多難?</a></h3>
    <h3><a href="index?ch=CH02_11">02.11. 產品化</a></h3>
    <h3><a href="index?ch=CH02_12">02.12. 無間道-專案可有close的一天?</a></h3>


<br>
<h2 style="color:blue;">03. 震撼教育-第一個嵌入式系統 </h2>
    <h3><a href="index?ch=CH03_01">03.01. 開發環境</a></h3>
    <h3><a href="index?ch=CH03_02">03.02. 無痛起步 - 善用sample code</a></h3>
    <h3><a href="index?ch=CH03_03">03.03. 如何確定程式在執行?</a></h3>
    <h3><a href="index?ch=CH03_04">03.04. 標準C Library可以用嗎?</a></h3>


<br>
<h2 style="color:blue;">04. 嵌入式系統平台實作 </h2>
    <h3><a href="index?ch=CH04_01">04.01. 系統與平台 </a></h3>
    <h3><a href="index?ch=CH04_02">04.02. 系統架構設計</a></h3>
    <h3><a href="index?ch=CH04_03">04.03. API與程式風格設計</a></h3>
    <h3><a href="index?ch=CH04_04">04.04. 嵌入式作業系統-OS在哪裡?</a></h3>
    <h3><a href="index?ch=CH04_05">04.05. 模擬器</a></h3>
    <h3><a href="index?ch=CH04_06">04.06. Source Tree設計</a></h3>
    <h3><a href="index?ch=CH04_07">04.07. 程式風格典範</a></h3>


<br>
<h2 style="color:blue;">05. 建構嵌入式系統開發環境 </h2>
    <h3><a href="index?ch=CH05_01">05.01. 開發工具</a></h3>
    <h3><a href="index?ch=CH05_02">05.02. Makefile / 批次檔(.BAT)</a></h3>
    <h3><a href="index?ch=CH05_03">05.03. Link Script</a></h3>
    <h3><a href="index?ch=CH05_04">05.04. ROM Maker</a></h3>
    <h3><a href="index?ch=CH05_05">05.05. 下載 / 執行</a></h3>
    <h3><a href="index?ch=CH05_06">05.06. 版本控制Server</a></h3>
    <h3><a href="index?ch=CH05_07">05.07. 說故事時間</a></h3>


<br>
<h2 style="color:blue;">06. 上電之後-Boot Loader </h2>
    <h3><a href="index?ch=CH06_01">06.01. 上電之後-Boot Loader</a></h3>
    <h3><a href="index?ch=CH06_02">06.02. 基本硬體測試</a></h3>
    <h3><a href="index?ch=CH06_03">06.03. 載入程式段與資料段初始化</a></h3>
    <h3><a href="index?ch=CH06_04">06.04. 實例：從NAND Flash載入</a></h3>


<br>
<h2 style="color:blue;">07. 驅動程式 </h2>
    <h3><a href="index?ch=CH07_01">07.01. 莫恐懼！</a></h3>
    <h3><a href="index?ch=CH07_02">07.02. 準備工作</a></h3>
    <h3><a href="index?ch=CH07_03">07.03. 控制CPU</a></h3>
    <h3><a href="index?ch=CH07_04">07.04. Memory</a></h3>
    <h3><a href="index?ch=CH07_05">07.05. 控制其他晶片</a></h3>
    <h3><a href="index?ch=CH07_06">07.06. ISR寫作注意事項</a></h3>
    <h3><a href="index?ch=CH07_07">07.07. 驅動程式除錯</a></h3>


<br>
<h2 style="color:blue;">08. 記憶體管理 </h2>
    <h3><a href="index?ch=CH08_01">08.01. 記憶體空間配置</a></h3>
    <h3><a href="index?ch=CH08_02">08.02. Stack</a></h3>
    <h3><a href="index?ch=CH08_03">08.03. Heap-動態記憶體配置</a></h3>
    <h3><a href="index?ch=CH08_04">08.04. 燒錄器</a></h3>


<br>
<h2 style="color:blue;">09. 模擬器 </h2>
    <h3><a href="index?ch=CH09_01">09.01. 模擬器概論</a></h3>
    <h3><a href="index?ch=CH09_02">09.02. Emulator vs. Simulator</a></h3>
    <h3><a href="index?ch=CH09_03">09.03. 模擬器對專案開發的貢獻</a></h3>
    <h3><a href="index?ch=CH09_04">09.04. 實戰篇</a></h3>


<br>
<h2 style="color:blue;">10. 系統整合 </h2>
    <h3><a href="index?ch=CH10_01">10.01. 系統整合</a></h3>
    <h3><a href="index?ch=CH10_02">10.02. 全功能整合</a></h3>
    <h3><a href="index?ch=CH10_03">10.03. 發行第一個版本</a></h3>


<br>
<h2 style="color:blue;">11. Testing、Debugging and Tuning </h2>
    <h3><a href="index?ch=CH11_01">11.01. 測試</a></h3>
    <h3><a href="index?ch=CH11_02">11.02. Bug Sheet管理</a></h3>
    <h3><a href="index?ch=CH11_03">11.03. Debug基本技法</a></h3>
    <h3><a href="index?ch=CH11_04">11.04. Tuning</a></h3>


<br>
<h2 style="color:blue;">12. 結案前的煎熬 </h2>
    <h3><a href="index?ch=CH12_01">12.01. 版本發行-兵荒馬亂的日子</a></h3>
    <h3><a href="index?ch=CH12_02">12.02. 自動測試程式</a></h3>
    <h3><a href="index?ch=CH12_03">12.03. 決定量產版本</a></h3>
    <h3><a href="index?ch=CH12_04">12.04. 出貨≠結案</a></h3>
    <h3><a href="index?ch=CH12_05">12.05. 專案結案</a></h3>


<br>
<h2 style="color:blue;">13.附錄  </h2>
    <h3><a href="index?ch=CH13_A">附錄A: 沒有執行專案管理的專案</a></h3>
    <h3><a href="index?ch=CH13_B">附錄B: Callback Function</a></h3>
    <h3><a href="index?ch=CH13_C">附錄C: 用C來實作物件導向的概念 </a></h3>
    <h3><a href="index?ch=CH13_D">附錄D: 有效率的畫斜線演算法</a></h3>
    <h3><a href="index?ch=CH13_E">附錄E: 電子產品設計導論</a></h3>


</div>

