<BR>
<div style="padding-left:20%">

<h2><a href="index?ch=intro100">[ Web無料版 發佈序言 ]</a></h2>
<h2><a href="index?ch=intro">[ 序＆章節簡介 ]</a></h2>
<h2><a href="index?ch=fpage">[ 封面文字 ]</a></h2>
<br>
<h2 style="color:blue;">00. 系統．嵌入．硬體</h2>
    <h3><a href="index?ch=CH00_01">00.01. Welcome on board!</a></h3>
    <h3><a href="index?ch=CH00_02">00.02. 嵌入式系統開發團隊</a></h3>
    <h3><a href="index?ch=CH00_03">00.03. 老調重彈-什麼是嵌入式系統?</a></h3>
    <h3><a href="index?ch=CH00_04">00.04. 限制、限制、限制</a></h3>
    <h3><a href="index?ch=CH00_05">00.05. 基本職能–老鳥也曾是菜鳥</a></h3>
    <h3><a href="index?ch=CH00_06">00.06. 讀書計畫</a></h3>
    <h3><a href="index?ch=CH00_07">00.07. 工作內容-做工程師，而非程式工人</a></h3>
<br>
<h2 style="color:blue;">01.  嵌入式系統開發專案的生命週期(上) – 專案啟動與規劃階段</h2>
    <h3><a href="index?ch=CH01_01">01.01. 嵌入式系統專案 – 簡介</a></h3>

</div>

