

<!--
current_facebook_user :  (defined in mogli)
  (https://github.com/mmangino/mogli/blob/master/lib/mogli/user.rb)

define_properties  :first_name, :last_name, :link, :about, :birthday, :gender,
      :email, :website, :timezone, :updated_time, :verified, :political, :bio,
      :relationship_status, :locale, :religion, :quotes, :third_party_id

-->

<%#= fb_connect_async_js%>

<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({appId: <%= Facebooker2.app_id %>, status: true, cookie: true, xfbml: true});
  };
  (function() {
    var e = document.createElement('script'); e.async = true;

    // Todo: we need to check the locale!!!!!!!!!!!!
    //
    e.src = document.location.protocol + '//connect.facebook.net/zh_TW/all.js';

    document.getElementById('fb-root').appendChild(e);
  }());
</script>



    <%= fb_login_and_redirect(root_url, :perms => 'email,user_birthday') %>

    <% session[:logged_in] = false %>


