

<!--
current_facebook_user :  (defined in mogli)
  (https://github.com/mmangino/mogli/blob/master/lib/mogli/user.rb)

define_properties  :first_name, :last_name, :link, :about, :birthday, :gender,
      :email, :website, :timezone, :updated_time, :verified, :political, :bio,
      :relationship_status, :locale, :religion, :quotes, :third_party_id

-->

<%#= fb_connect_async_js%>

<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({appId: <%= Facebooker2.app_id %>, status: true, cookie: true,
             xfbml: true});
  };
  (function() {
    var e = document.createElement('script'); e.async = true;

    // Todo: we need to check the locale!!!!!!!!!!!!
    //
    e.src = document.location.protocol + '//connect.facebook.net/zh_TW/all.js';

    document.getElementById('fb-root').appendChild(e);
  }());
</script>



  <% if current_facebook_user != nil && session[:logged_in] != false%>

    <% # fetch is called in check_logged_in() /  application_controller.rb  %>
    <% #current_facebook_user.fetch %>
    <br>
    <%= "Welcome #{current_facebook_user.first_name} #{current_facebook_user.last_name} (#{current_facebook_user.email})" %>
    <br>
    <%= fb_logout_link("Logout", request.url) %>
    <% session[:logged_in] = true  %>

  <% else
    # you must explicitly request permissions for facebook user fields.
    # here we instruct facebook to ask the user for permission for our website
    # to access the user's facebook email and birthday
    %>

    <%= fb_login_and_redirect(root_url, :perms => 'email,user_birthday') %>

    <% session[:logged_in] = false %>
  <% end %>

