
<div id="header">
<!-- 顯示頁首的所有元素 - logo, search bar, 許多功能連結, login/logout... -->

  <div id="logo" >	
    <!-- "to_main_page" is defined in application_controller.rb -->
    <%=     link_to( image_tag("/images/HeyGoTimes_logo.png"), {:action =>'to_main_page'},\
        {:title => 'to home page'} )  %>
  </div>

  <div align = "right">	
    <%= link_to "Back(MAIN MENU)", {:controller => 'main_page'}, {:title => '回主畫面'} %>
  </div>
  
 </div>
  
  
  
  
 <br><br><hr>

  <!-- method 'show_page_tail' would be used by all controller, so it's implemented in application_helper.rb -->
  <%= show_page_tail %>


 