
<span>
    <%#= link_to t(:main_page),{:controller => 'paper'},{:title => 'to main page'}%>
    <% if @login_flag && session[:logged_in] == false %>
      <%= show_logging_link %>
    <% else %>
      <% # setup-dialog would be shown only when user is logged in. %>
      <% #= link_to t(:setting),{:controller => 'setup'},{:title => '設定'}%>
      <% # show_logout_link() is defined in user_helper.rb  %>

      <%= image_tag "http://graph.facebook.com/#{current_facebook_user.id}/picture" %>
      <%# = "Welcome #{current_facebook_user.first_name} #{current_facebook_user.last_name}" %>
        <%#= "id= #{current_facebook_user.birthday} alias = #{current_facebook_user.id} )" %>
        <%# fb_profile_pic(current_facebook_user.id, {:size => 'square' }) %>


    <% end %>
</span>