<div  align = "center">

<%= link_to '首頁',{:controller => 'main_page'},{:title => 'Show FAQ'}%>
<%= link_to '報紙',{:controller => 'paper'},{:title => 'Show Privacy'}%>

<% if @edit_flag == true%>
  <%= link_to '編輯',{:controller => 'editor'},{:title => '到編輯新聞畫面'}%>
<% end %>

<%= link_to 'Logout',{:action => 'logout'},{:title => 'logout'}%>

</div>