<div  align = "center">

<%= link_to '首頁',{:controller => 'main_page'},{:title => 'Show FAQ'}%>
<%= link_to '報紙',{:controller => 'paper'},{:title => 'Show Privacy'}%>
<%= link_to 'Logout',{:action => 'logout'},{:title => 'logout'}%>

</div>