<div  id="footer" align = "center">
	
HeyGo © 2011 &nbsp;&nbsp;	


<%= link_to 'FAQ',{:controller => 'faq'},{:title => 'Show FAQ'}%>
<%= link_to t(:privacy),{:controller => 'privacy'},{:title => 'Show Privacy'}%>
<%= link_to t(:terms),{:controller => 'terms_of_service'},{:title => '使用條款'}%>


</div>