<!DOCTYPE html>
<html>
<head>
  <title>HeyGoTimes</title>

  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>



</body>
</html>
